recursive-include examples *.tmpl *.ini
recursive-include output *.css *.png
recursive-include cache .empty
include AUTHORS
include ChangeLog
include INSTALL
include LICENCE
include MANIFEST.in
include NEWS
include THANKS
