Django==1.4.2
South==0.7.6
distribute==0.6.28
dj-database-url==0.2.1
django-appconf==0.5
django-compressor==1.2
feedparser==5.1.2
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.15.0
ipython==0.13.1
mock==1.0.0
psycopg2==2.4.5
python-dateutil==2.1
readline==6.2.4.1
six==1.2.0
wsgiref==0.1.2
