<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><TMPL_VAR name></title>
  <meta name="description" content="Planet Terasi is an aggregate blog about technology in general with a preference for original Indonesian-related technology content.">
  <meta name="author" content="Planet Terasi">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="images/favicon.png">
  <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
  <link rel="alternate" href="/rss20.xml">
  <link rel="stylesheet" href="terasi.css">
  <link rel="stylesheet" media="handheld" href="handheld.css">
  <script src="http://ajax.cdnjs.com/ajax/libs/modernizr/1.7/modernizr-1.7.min.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/isv0gey.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<a name="top"></a>
<section id="page">
  <header>
    <div class="wrap">
      <h1 id="title"><a href="http://planet.terasi.net">Planet Terasi</a></h1>
      <h2 id="tagline">Think.&nbsp;Read.&nbsp;Write.</h2>

      <nav>
        <ul>
          <li class="about"><a href="#about">About</a></li>
          <li class="contributors"><a href="#contributors">Contributors</a></li>
          <li class="contact"><a href="contact.php">Contact</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <section id="main">
    <TMPL_LOOP Items>
      <article>
        <header>
          <h3 class="itemheader"><a href="<TMPL_VAR link ESCAPE="HTML">"><TMPL_VAR title></a></h3>
          <div class="meta">
            <span class="author meta"><a href="<TMPL_VAR channel_link ESCAPE="HTML">"><TMPL_VAR channel_title></a></span>
            <TMPL_IF category>
              <span class="dot">&middot;</span><span class="category meta"><TMPL_VAR category></span>
            </TMPL_IF>
            <span class="dot">&middot;</span><span class="timestamp meta">
              <time datetime="<TMPL_VAR date_iso>" pubdate><TMPL_VAR date>&nbsp;<abbr title="Coordinated Universal Time (GMT)">UTC</abbr></time>
            </span>
          </div>
        </header>
        <section class="content"><TMPL_VAR content></section>
      </article>
      <div class="clearfix"></div>
    </TMPL_LOOP>
    <div class="clearfix"></div>
  </section>
  <footer>
    <section id="about">
      <header>
        <a name="about"></a>
        <h2>About Planet Terasi</h2>
      </header>

      <p>Planet Terasi is an aggregate blog about <em>technology</em> in general with a preference for original
      <em>Indonesian-related technology content</em>. Occasionally it may include other non-technology posts that are
      still Indonesian-related. Personal posts may creep in once in a while (blogs are personal by nature after all),
      but contributors are generally encouraged to either keep personal posts to a minimum, or provide a specific feed
      (e.g. by tag) for Planet Terasi. Planet Terasi may contain articles in Bahasa Indonesia and in English.</p>

      <p>Planet Terasi is maintained by <a
      href="http://ronny.haryan.to">Ronny&nbsp;Haryanto</a>.
      </p>

      <p>Planet Terasi is updated every hour and was most recently
      updated at <time datetime="<TMPL_VAR date_iso>"><TMPL_VAR date> <abbr
      title="Coordinated Universal Time (GMT)">UTC</abbr></time>.</p>
      
      <a href="#top" class="top">&uarr;</a>
    </section>

    <section id="disclaimers">
      <header>
        <h2>Disclaimers</h2>
      </header>

      <p>All blog posts are the personal views of the
      contributors and do not necessarily reflect Planet Terasi and its
      maintainer's views. Planet Terasi and its maintainer may not be
      held responsible for the contents of the contributors' individual
      blogs. Please consult the individual blogs for licensing and
      copyright information.</p>

      <a href="#top" class="top">&uarr;</a>
    </section>

    <section id="syndications">
      <header>
        <h2>Syndications</h2>
      </header>

      <ul>
        <li><a href="rss20.xml">RSS 2.0</a></li>
        <li><a href="rss10.xml">RSS 1.0</a></li>
        <li><a href="opml.xml">OPML</a></li>
        <li><a href="foafroll.xml">FOAF</a></li>
      </ul>

      <a href="#top" class="top">&uarr;</a>
    </section>

    <section id="contributors">
      <a name="contributors"></a>
      <header>
        <h2>Contributors</h2>
      </header>

      <ul>
        <TMPL_LOOP Channels>
          <li class="contributor"><a href="<TMPL_VAR link ESCAPE="HTML">" title="<TMPL_VAR title>"><TMPL_VAR name></a></li>
        </TMPL_LOOP>
      </ul>

      <div class="clearfix"></div>
      <a href="#top" class="top">&uarr;</a>
    </section>

    <div class="clearfix"></div>
  </footer>
</section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="jquery-1.5.1.min.js">\x3C/script>')</script>
<script src="jquery.timeago.js"></script>
<script>
  var _gaq=[['_setAccount','UA-5657485-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
  $("time").timeago();
</script>
</body>
</html>
