<?xml version="1.0"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/">
<channel>
 <title><![CDATA[<TMPL_VAR name>]]></title>
 <link><TMPL_VAR link ESCAPE="HTML"></link>
 <description><![CDATA[<TMPL_VAR name> - <TMPL_VAR link ESCAPE="HTML">]]></description>
 <TMPL_LOOP Items>
   <item>
    <title><![CDATA[<TMPL_VAR channel_name><TMPL_IF title>: <TMPL_VAR title></TMPL_IF>]]></title>
    <link><TMPL_VAR link ESCAPE="HTML"></link>
    <pubDate><TMPL_VAR date_822></pubDate>
    <guid isPermaLink="false"><TMPL_VAR link ESCAPE="HTML"></guid>
    <TMPL_IF content>
    <description><![CDATA[<TMPL_VAR content>]]></description>
    </TMPL_IF>
    <TMPL_IF creator>
    <dc:creator><![CDATA[<TMPL_VAR creator>]]></dc:creator>
    </TMPL_IF>
   </item>
 </TMPL_LOOP>
</channel>
</rss>
