{% load compress %}
{% load static from staticfiles %}
{% load render_bundle from webpack_loader %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Planet Terasi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
  <link rel="alternate" type="application/rss+xml" href="{% url "feed" %}">
  <link rel="alternate" type="application/atom+xml" href="{% url "atom" %}">

  {% render_bundle 'app' 'css' %}

  {% compress js %}
  <script>
    (function() {
      var config = {
        kitId: 'isv0gey',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>
  {% endcompress %}
</head>
<body>
  <div id="app"></div>

  {% render_bundle 'app' 'js' %}

  {% compress js %}
  <script>
    var _gaq=[['_setAccount','UA-5657485-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endcompress %}

</body>
</html>
