{% load compress %}
<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <title>Planet Terasi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" charset="utf-8">
  <link href="/static/css/base.scss" rel="stylesheet" type="text/x-scss" charset="utf-8">
  {% endcompress %}

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-57-precomposed.png">

</head>
<body>
  <div class="container">
    <h1>Planet Terasi</h1>
    {% block content %}
    {% endblock content %}
  </div>
  {% compress js %}
  <script src="/static/js/jquery-1.8.2.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  {% endcompress %}
</body>
</html>
