{% load compress %}
<!doctype html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <title>Planet Terasi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% compress css %}
  <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" charset="utf-8">
  <link href="/static/css/base.scss" rel="stylesheet" type="text/x-scss" charset="utf-8">
  {% endcompress %}

  <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}img/apple-touch-icon-57-precomposed.png">

  {% compress js %}
  <script type="text/javascript">
    (function() {
      var config = {
        kitId: 'isv0gey',
        scriptTimeout: 3000
      };
      var h=document.getElementsByTagName("html")[0];h.className+=" wf-loading";var t=setTimeout(function(){h.className=h.className.replace(/(\s|^)wf-loading(\s|$)/g," ");h.className+=" wf-inactive"},config.scriptTimeout);var tk=document.createElement("script"),d=false;tk.src='//use.typekit.net/'+config.kitId+'.js';tk.type="text/javascript";tk.async="true";tk.onload=tk.onreadystatechange=function(){var a=this.readyState;if(d||a&&a!="complete"&&a!="loaded")return;d=true;clearTimeout(t);try{Typekit.load(config)}catch(b){}};var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(tk,s)
    })();
  </script>
  {% endcompress %}
</head>
<body>
  <div class="container">
    <div class="span2"></div>
    <div class="span8">
      <header class="site">
        <h1 class="site-title"><span class="first-word">Planet</span>Terasi</h1>
        <p class="site-subtitle">Think. Read. Write.</p>
      </header>
      {% block content %}
      {% endblock content %}
      <footer class="site">
        <section class="about">
          <h2>About Planet Terasi</h2>

          <p>Planet Terasi is an aggregate blog about technology in general with
          a preference for original Indonesian-related technology content.
          Occasionally it may include other non-technology posts that are
          still Indonesian-related. Personal posts may creep in once in a
          while (blogs are personal by nature after all), but contributors are
          generally encouraged to either keep personal posts to a minimum, or
          provide a specific feed (e.g. by tag) for Planet Terasi. Planet
          Terasi may contain articles in Bahasa Indonesia and in English.</p>

          <p>Planet Terasi is maintained by
            <a href="http://ronny.haryan.to/">Ronny Haryanto</a>.</p>

          <p>Planet Terasi is updated every hour and was most recently updated
              {% if latest_update %}<time class="last-updated timeago"
                   datetime="{{ latest_update.timestamp|date:"c" }}"
             >{{ latest_update.timestamp|date:"D d M Y H:i:s O" }}</time>{% else %}
             never{% endif %}.
          </p>
        </section>

        <section class="contributors">
          <h2>Contributors</h2>

          <ul>
            {% for feed in feeds %}<li class="contributor">
            <a href="{{ feed.site_url }}">{{ feed.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </section>

        <section class="disclaimers">
          <h2>Disclaimers</h2>

          <p>All blog posts are the personal views of the contributors and do not
          necessarily reflect Planet Terasi and its maintainer's views. Planet
          Terasi and its maintainer may not be held responsible for the
          contents of the contributors' individual blogs. Please consult the
          individual blogs for licensing and copyright information.</p>
        </section>

        <section class="syndications">
          <h2>Syndications</h2>

          <ul>
            <li class="rss"><a href="{% url "feed" %}">RSS</a></li>
            <li class="opml"><a href="{% url "opml" %}">OPML</a></li>
          </ul>
        </section>

      </footer>
    </div>
    <div class="span2"></div>
  </div>
  {% compress js %}
  <script src="/static/js/jquery-1.8.2.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="/static/js/jquery.timeago.js"></script>
  <script>
    var _gaq=[['_setAccount','UA-5657485-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
    $("time.timeago").timeago();
  </script>
  {% endcompress %}
</body>
</html>
